.app {
	font-family: $font-family;
	font-size: $font-size;
	font-weight: $font-weight-normal;
	line-height: $line-height;
	@include color("text");
	user-select: none;
}

a {
	color: inherit;
	text-decoration: none;
}

button,
input,
textarea {
	font: inherit;
	color: inherit;
	text-align: left;
}

.button,
input {
	line-height: 1;
}

.button {
	font-weight: $font-weight-semibold;

	&:not(.button-invisible) {
		color: #FFFFFF;
	}
}

.button-invisible {
	line-height: 0;
	text-align: center;
}

h1,
.editor-title {
	font-size: 150%;
	font-weight: $font-weight-semibold;
}

abbr {
	text-decoration: none;
}

.DayPicker-Months {
	line-height: 1;
}

.month-name {
	text-align: center;
}

.date-selected p {
	color: #FFFFFF !important;
}

.text-faded,
.DayPicker-Weekday {
	font-size: 80%;
	@include color("text-faded");
}

:disabled,
.DayPicker-Day--disabled {
	@include color("text-disabled");
}

.DayPicker-Day--hasEntry {
	font-weight: $font-weight-bold;
	@include color("button");
}

.DayPicker-Day--selected {
	color: #FFFFFF !important;
}
