// Colors
$themes: (
	"light": (
		"background": #F0F0F0,
		"text": #353535,
		"text-disabled": #CBCBCB
	),
	"dark": (
		"background": #242326,
		"text": #D0D0D0,
		"text-disabled": #CBCBCB
	)
) !default;

// Fonts
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size: 16px;
$font-weight-normal: 300;
$font-weight-bold: 900;
$line-height: 2;

// Spacing
$spacing-small: 30px;
$spacing-large: 60px;

// Other
$input-height: 36px;
