// Colors
$themes: (
	"light": (
		"background": #E7E7E7,
		"background-hover": #DDDDDD,
		"background-editor": #F9F9F9,
		"background-editor-hover": #F0F0F0,
		"button-disabled": #E0E0E0,
		"error": #D23939,
		"main": #4E8BD2,
		"main-hover": #447AB8,
		"text": #353535,
		"text-disabled": #C2C2C2,
		"text-faded": #727272
	),
	"dark": (
		"background": #242326,
		"background-hover": #3F3F41,
		"background-editor": #373739,
		"background-editor-hover": #323234,
		"button-disabled": #1D1D1D,
		"error": #D23939,
		"main": #4C81BF,
		"main-hover": #4371A7,
		"text": #D0D0D0,
		"text-disabled": #4E4E4E,
		"text-faded": #BDBDBD
	)
) !default;

// Fonts
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size: 16px;
$font-weight-normal: 300;
$font-weight-semibold: 500;
$font-weight-bold: 700;
$line-height: 1.7;

// Spacing
$spacing-small: 15px;
$spacing-large: 30px;
$spacing-rel-small: 4vw;
$spacing-rel-large: 6vw;

// Other
$border-radius-button: 10px;
$border-radius-input: 3px;
$box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.075);
$calendar-cell-size: 40px;
$input-height: 36px;
$transition: 0.2s;
