/* Style reset */

@import "minireset.min.css";

/* Global styles */

body {
	/* Variables */
	--color-background-grey: #242326;
	--color-background-white: #f1f1f1;
	--color-main: #4e8bd2;
	--color-main-hover: #447ab8;
	--color-selection: #b7cbe4;
	--color-text: #4e4e4e;
	--color-text-button: #f1f1f1;
	--color-text-dark: #212121;
	--color-text-header: #d8d8d8;
	--color-text-footer: #939ea7;
	--color-text-footer-hover: #b7bec5;
	--spacing-abs-medium: 35px;
	--spacing-abs-small: 23px;
	--spacing-rel-large: 8vw;
	--spacing-rel-medium: 4vw;
	--spacing-rel-small: 2vw;
	--transition: 0.2s;
	color: var(--color-text);

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica", "Arial",
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	line-height: 1.7;
	background: var(--color-background-white);
}

/* Layout */

@media (max-width: 800px) {
	body {
		font-size: 15px;
	}
}

@media (min-width: 801px) {
	body {
		font-size: 18px;
	}
}

header {
	padding: var(--spacing-rel-medium) 0;
	text-align: center;
	background: var(--color-background-grey);
	background: linear-gradient(335deg, var(--color-background-grey) 0%, var(--color-main) 100%);
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
}

main {
	padding: var(--spacing-rel-medium) 0;
}

footer {
	padding: var(--spacing-rel-medium) 0;
	text-align: center;
	background: var(--color-background-grey);
}

.centered {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	padding-right: var(--spacing-rel-medium);
	padding-left: var(--spacing-rel-medium);
}

/* Text */

h1,
.tagline {
	color: var(--color-text-header);
}

h1 {
	font-weight: 700;
	font-size: 250%;
}

h2,
.tagline {
	font-weight: 500;
	font-size: 120%;
}

h2 {
	color: var(--color-text-dark);
}

a {
	color: inherit;
	text-decoration: none;
	transition: var(--transition);
}

a:hover {
	transition: var(--transition);
}

.small-text {
	font-size: 80%;
}

header a,
footer a {
	color: var(--color-text-footer);
}

header a:hover,
footer a:hover {
	color: var(--color-text-footer-hover);
}

main a {
	color: var(--color-text-dark);
	font-weight: 500;
}

main a:hover {
	color: var(--color-text);
}

footer a {
	display: inline-flex;
	align-items: center;
}

::selection {
	background-color: var(--color-selection);
}

/* Buttons/links */

.button {
	display: inline-flex;
	align-items: center;
	margin: calc(var(--spacing-rel-small) / 1.5);
	padding: 11px 15px;
	color: var(--color-text-button);
	font-weight: 500;
	line-height: 1;
	background: var(--color-main);
	border-radius: 12px;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
	transition: var(--transition);
}

.button:hover {
	color: var(--color-text-button);
	background: var(--color-main-hover);
}

.button svg,
footer svg {
	margin-right: 7px;
}

/* Elements */

.tagline {
	margin-bottom: var(--spacing-abs-small);
}

.screenshot-section-1,
.screenshot-section-2 {
	text-align: center;
}

.screenshot {
	display: inline-block;
	max-width: 100%;
}

.screenshot-section-1 .screenshot {
	width: 900px;
}

.screenshot-section-2 .screenshot {
	width: 650px;
}

.feature-list {
	margin-top: var(--spacing-rel-medium);
	margin-bottom: var(--spacing-rel-medium);
}

.feature {
	display: flex;
	align-items: center;
}

.feature svg {
	color: var(--color-main);
}

@media (max-width: 800px) {
	.feature {
		margin-bottom: var(--spacing-abs-small);
	}

	.feature svg {
		margin-right: var(--spacing-abs-small);
	}
}

@media (min-width: 801px) {
	.feature {
		margin-bottom: var(--spacing-abs-medium);
	}

	.feature svg {
		margin-right: var(--spacing-abs-medium);
	}
}

.feature div {
	flex: 1;
}

.terms {
	margin-top: var(--spacing-abs-small);
}
