.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-weight: $font-weight-semibold;

	.svg-wrapper {
		margin-right: 8px;
		line-height: 0;
	}

	&.banner-error {
		@include color("error");
	}

	&.banner-no-results {
		@include color("text-faded");
	}
}

.password-creation-banner,
.password-prompt-banner {
	margin-top: $spacing-large;
}

.password-update-banner {
	height: 1em;
	margin-top: $spacing-medium;
}
