/* stylelint-disable selector-class-pattern */

.view-selector {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5 * $spacing-large;
}

.DayPicker * {
	outline: none;
}

.calendar-nav {
	display: flex;
	align-items: center;

	.month-name {
		flex: 1;
		text-align: center;
	}

	.button-today {
		width: $calendar-cell-size;
	}
}

.DayPicker-Body {
	display: grid;
	grid-template-rows: repeat(6, $calendar-cell-size);
}

.DayPicker-Months {
	line-height: 1;
}

.DayPicker-Week,
.DayPicker-WeekdaysRow {
	display: grid;
	grid-template-columns: repeat(7, $calendar-cell-size);
}

.DayPicker-Day,
.DayPicker-Weekday {
	display: flex;
	justify-content: center;
	align-items: center;
}

.DayPicker-WeekdaysRow {
	height: $calendar-cell-size;
}

.DayPicker-Weekday {
	@include color("text-faded");
	font-size: 80%;
}

.DayPicker-Day {
	margin: 1px;
	border-radius: 50%;
	transition: $transition;

	&:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):not(.DayPicker-Day--selected) {
		&:hover {
			@include background-color("background-hover");
		}
	}

	&.DayPicker-Day--selected:not(.DayPicker-Day--outside) {
		@include background-color("main");

		&:hover {
			@include background-color("main-hover");
		}
	}
}

.DayPicker-Day--disabled {
	@include color("text-disabled");
}

.DayPicker-Day--hasEntry {
	@include color("main");
	font-weight: $font-weight-bold;
}

.DayPicker-Day--selected {
	color: #ffffff !important; // stylelint-disable-line declaration-no-important
}
