.diary {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;

	@media (max-width: $screen-tablet) {
		flex-direction: column;
		margin: 0 auto;
		padding: 2 * $spacing-large;
		overflow-y: scroll;

		.sidebar {
			flex-shrink: 0;
			margin: 0 auto (1.5 * $spacing-large);
		}

		.editor {
			min-height: 300px;
		}
	}

	@media (min-width: $screen-tablet + 1px) {
		padding: $spacing-rel-large;

		.sidebar {
			height: 100%;
		}

		.editor {
			height: 100%;
			margin-left: $spacing-rel-large;
		}
	}

	@media (min-width: $screen-large) {
		padding: $spacing-rel-small;
	}

	.sidebar {
		display: flex;
		flex-direction: column;
		width: 7 * $calendar-cell-size;
	}

	.editor {
		flex: 1;
	}
}
