.editor {
	@include background-color("background-editor");
	position: relative;
	width: 100%;
	border-radius: $border-radius-input;
	box-shadow: $box-shadow-inset;
}

.editor-scrollable {
	display: grid;
	grid-template-rows: auto auto 1fr;
	width: 100%;
	height: 100%;
	padding: $spacing-rel-small (2 * $spacing-rel-small) $spacing-rel-small $spacing-rel-small;
	overflow-y: auto;
}

.editor-title-wrapper {
	margin-bottom: $spacing-small;
	font-weight: $font-weight-bold;
	font-size: 150%;
}

.editor-buttons-wrapper {
	@include background-color("background");
	position: absolute;
	top: 0;
	right: $spacing-medium;
	bottom: 0;
	width: $calendar-cell-size;
	height: 4 * $calendar-cell-size;
	margin-top: auto;
	margin-bottom: auto;
	border-radius: $border-radius-button;
	box-shadow: $box-shadow;
}

// stylelint-disable selector-class-pattern

.DraftEditor-root {
	height: 100% !important; // stylelint-disable-line declaration-no-important
}

.public-DraftEditorPlaceholder-inner {
	@include color("text-placeholder");
}

.editor-text-wrapper .public-DraftStyleDefault-block {
	margin-bottom: $spacing-small;
}
