.editor {
	@include background-color("background-editor");
	display: grid;
	grid-template-rows: auto auto 1fr;
	width: 100%;
	padding: $spacing-rel-small;
	overflow-y: auto;
	border-radius: $border-radius-input;

	textarea {
		background: none;
	}

	&::-webkit-scrollbar {
		display: none;
	}
}

.editor-title {
	margin-bottom: $spacing-small / 2;
	font-weight: $font-weight-bold;
	font-size: 150%;
}
