.overlay-outer {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);

	.overlay-inner {
		@include background-color("background");
		position: relative;
		max-width: 90%;
		max-height: 100%;
		overflow-y: auto;
		border-radius: $border-radius-input;
		box-shadow: $box-shadow;
	}

	.overlay-close-button {
		position: absolute;
		right: 0;
	}

	.overlay-content {
		padding: $spacing-rel-small;

		h1,
		p {
			margin-bottom: $spacing-abs-medium;
		}
	}
}

// Import overlay

.import-overlay {
	width: 500px;
}

// Preferences overlay

.fieldset-file-dir {
	p {
		word-break: break-all;
	}
}

// Statistics overlay

.stats-overlay {
	td {
		vertical-align: baseline;
	}

	.stat-number {
		padding-right: $spacing-abs-small;
		font-size: $font-size-h1;
		text-align: right;
	}

	.stat-label {
		@include color("text-faded");
	}
}
