.overlay-outer {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: $spacing-abs-large;
	background-color: rgba(0, 0, 0, 0.6);
}

.overlay-inner {
	@include background-color("background");
	@include box-shadow($shadow-size-outer, "shadow-outer");
	position: relative;
	max-width: 100%;
	max-height: 100%;
	overflow-y: auto;
	border-radius: $border-radius-input;
}

.overlay-close-button {
	position: absolute;
	right: 0;
}

.overlay-content {
	padding: $spacing-rel-small;

	h1,
	p:not(.file-dir):not(.banner-message) {
		margin-bottom: $spacing-abs-medium;
	}
}

// "Go to date" overlay
.go-to-date-overlay {
	input {
		margin: 0 $spacing-abs-small;
	}
}

// Import overlay

.import-overlay {
	width: 500px;
}

// Preferences overlay

.file-dir {
	word-break: break-all;
}

// Statistics overlay

.stats-overlay {
	td {
		vertical-align: baseline;
	}

	.stat-number {
		padding-right: $spacing-abs-small;
		font-size: $font-size-h1;
		text-align: right;
	}

	.stat-label {
		@include color("text-faded");
	}
}
