.password-creation-form input,
.password-prompt-form input {
	margin: $spacing-abs-large $spacing-abs-medium 0 0;
}

.password-creation-banner,
.password-prompt-banner {
	position: relative;

	.banner {
		position: absolute;
	}
}
