.search-input-wrapper {
	position: relative;
	flex: 1;
	width: 100%;
	margin-right: $spacing-abs-small;
}

.search-input {
	position: absolute;
	width: 100% !important; // stylelint-disable-line declaration-no-important
}

.search-input-clear {
	position: absolute;
	right: 0;
}

.search-results {
	flex: 1;
	padding: 2px;
	overflow-y: auto;
}

.search-result {
	.button {
		width: 100%;
		height: 100%;
		padding: $spacing-abs-small $spacing-abs-medium;
		font-weight: $font-weight-normal;
		line-height: $line-height;
	}

	.button-main * {
		@include color("text-button");
	}
}

.search-result + .search-result {
	margin-top: $spacing-abs-medium;
}
