.app {
	@include color("text");
	font-weight: $font-weight-normal;
	font-size: $font-size-base;
	font-family: $font-family;
	line-height: $line-height;
	user-select: none;
}

a {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-weight: $font-weight-bold;
	font-size: $font-size-h1;
}

abbr {
	text-decoration: none;
}

code {
	user-select: text;
}

.text-faded {
	@include color("text-faded");
	font-size: 80%;
}
