fieldset {
	margin-top: $spacing-large;
	border: 0;
}

legend {
	margin-bottom: $spacing-small;
	font-weight: $font-weight-semibold;
}

.fieldset-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-right: $spacing-medium;
	margin-bottom: -$spacing-small;
}

.fieldset-content > * {
	margin-right: $spacing-medium;
	margin-bottom: $spacing-small;
}
