fieldset {
	margin-top: $spacing-abs-large;
	border: 0;
}

legend {
	font-weight: $font-weight-bold;
}

.fieldset-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-right: -$spacing-abs-small;
	margin-bottom: -$spacing-abs-small;
}

.fieldset-content > * {
	margin-right: $spacing-abs-small;
	margin-bottom: $spacing-abs-small;
}
