button,
input,
textarea {
	color: inherit;
	font: inherit;
	text-align: left;
	background: none;
	border: 0;
	outline: none;
}

input:not([type="checkbox"]):not([type="radio"]),
textarea {
	@include background-color("background-editor");
	box-shadow: $box-shadow-inset;
}

.button,
input:not([type="checkbox"]):not([type="radio"]) {
	height: $calendar-cell-size;
	padding: (0.75 * $spacing-medium) $spacing-medium;
	line-height: 1;
}

input {
	border-radius: $border-radius-input;

	&[type="password"],
	&[type="text"] {
		width: $input-width;
	}
}

.button {
	@include background-color("background-editor");
	border-radius: $border-radius-button;
	box-shadow: $box-shadow;
	transition: $transition;

	&:not(.button-invisible):hover {
		@include background-color("background-editor-hover");
	}

	&.button-main {
		color: #ffffff;

		&:not([disabled]) {
			@include background-color("main");

			&:hover {
				@include background-color("main-hover");
			}
		}

		&:disabled {
			@include background-color("button-disabled");
			box-shadow: none;
		}
	}

	&.button-invisible {
		width: $calendar-cell-size;
		height: $calendar-cell-size;
		padding: 0;
		line-height: 0;
		text-align: center;
		background: none;
		border-radius: 0;
		box-shadow: none;

		&:not([disabled]):hover {
			@include color("text-faded");
		}

		&.button-active {
			@include color("main");

			&:hover {
				@include color("main-hover");
			}
		}
	}

	&:disabled {
		@include color("text-disabled");
	}
}

.checkbox,
.radio {
	margin-right: 8px;
}

textarea {
	width: 100%;
	height: auto;
	overflow: hidden;
	background: none;
	resize: none;
}
