/* stylelint-disable-next-line */
html,
body,
#root,
.app {
	height: 100%;
}

.app {
	@include background-color("background");
}

.page-centered-outer,
.diary {
	height: 100%;
}

.page-centered-outer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-centered-inner {
	text-align: center;
}

.page-centered-content {
	margin-top: $spacing-rel-large;
}

.diary {
	display: flex;
	align-items: center;
	padding: $spacing-rel-large;

	.sidebar {
		display: flex;
		width: 7 * $calendar-cell-size;
		height: 100%;
		flex-direction: column;
	}

	.editor {
		flex: 1;
		margin-left: $spacing-rel-large;
	}
}
