.banner {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;

	.svg-wrapper {
		margin-right: 8px;
	}
}

.password-creation-banner,
.password-prompt-banner {
	margin-top: $spacing-large;
}

.password-update-banner {
	height: 1em;
	margin-top: $spacing-small;
}
