.calendar {
	width: 7 * $calendar-cell-size;
}

.view-selector {
	display: flex;
	justify-content: space-between;
	margin-bottom: $spacing-large;
	border-bottom: 0.5px solid;
	@include border-color("text-disabled");
}

.DayPicker * {
	outline: none;
}

.calendar-nav {
	display: flex;
	align-items: center;

	.month-name {
		flex: 1;
	}

	.button-today {
		width: $calendar-cell-size;
	}
}

.DayPicker-Body {
	display: grid;
	grid-template-rows: repeat(6, $calendar-cell-size);
}

.DayPicker-Week,
.DayPicker-WeekdaysRow {
	display: grid;
	grid-template-columns: repeat(7, $calendar-cell-size);
}

.DayPicker-Day,
.DayPicker-Weekday {
	display: flex;
	align-items: center;
	justify-content: center;
}

.DayPicker-WeekdaysRow {
	height: $calendar-cell-size;
}

.DayPicker-Day {
	margin: 1px;
	border-radius: 50%;
	transition: $transition;

	&:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
		&:hover {
			cursor: pointer;
		}
	}

	&:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):not(.DayPicker-Day--selected) {
		&:hover {
			@include background-color("background-hover");
		}
	}

	&.DayPicker-Day--selected:not(.DayPicker-Day--outside) {
		@include background-color("button");

		&:hover {
			@include background-color("button-hover");
		}
	}
}
