.editor {
	display: grid;
	grid-template-rows: auto auto 1fr;
	height: 100%;
	padding: $spacing-rel-small;
	overflow-y: auto;
	border-radius: $border-radius;
	@include background-color("background-editor");
}

.editor-title {
	margin-bottom: $spacing-small / 2;
}
