.editor {
	display: grid;
	grid-template-rows: auto auto 1fr;
	height: 100%;
	padding: $spacing-rel-small;
	overflow-y: auto;
	border-radius: $border-radius-input;
	@include background-color("background-editor");

	textarea {
		background: none;
	}

	&::-webkit-scrollbar {
		display: none;
	}
}

.editor-title {
	margin-bottom: $spacing-small / 2;
}
