button,
input,
textarea {
	background: none;
	border: 0;
	outline: none;
}

.button,
input {
	padding: (0.75 * $spacing-small) $spacing-small;
}

input {
	border-radius: $border-radius-input;
}

.button {
	border-radius: $border-radius-button;
	box-shadow: $box-shadow;
	transition: $transition;
	@include background-color("background-editor");

	&:not(.button-invisible):hover {
		@include background-color("background-editor-hover");
	}

	&.button-main {
		&:not([disabled]) {
			@include background-color("main");

			&:hover {
				@include background-color("main-hover");
			}
		}

		&:disabled {
			box-shadow: none;
			@include background-color("button-disabled");
		}
	}

	&.button-invisible {
		width: $calendar-cell-size;
		height: $calendar-cell-size;
		padding: 0;
		background: none;
		border-radius: 0;
		box-shadow: none;

		&:not([disabled]):hover {
			@include color("text-faded");
		}
	}
}

input,
textarea {
	@include background-color("background-editor");
}

textarea {
	width: 100%;
	height: auto;
	overflow: hidden;
	resize: none;
	background: none;
}
