button,
input,
textarea {
	padding: (0.75 * $spacing-small) $spacing-small;
	border: 0;
	border-radius: $border-radius;
	outline: none;
}

button {
	transition: $transition;

	&:not(.button-invisible) {
		@include background-color("button");

		&:hover {
			@include background-color("button-hover");
		}
	}

	&:not([disabled]) {
		cursor: pointer;
	}
}

.button-invisible {
	width: $input-height;
	padding: 0;
	background: none;

	&:not([disabled]):hover {
		@include color("text-faded");
	}
}

textarea {
	width: 100%;
	height: auto;
	resize: none;
}
