button,
input,
textarea {
	background: none;
	border: 0;
	outline: none;
}

.button,
input {
	padding: (0.75 * $spacing-small) $spacing-small;
}

input {
	border-radius: $border-radius-input;
}

.button {
	transition: $transition;

	&:not(.button-invisible) {
		border-radius: $border-radius-button;
		box-shadow: $box-shadow;

		@include background-color("button");

		&:hover {
			@include background-color("button-hover");
		}
	}
}

.button-invisible {
	width: $calendar-cell-size;
	height: $calendar-cell-size;
	padding: 0;
	background: none;

	&:not([disabled]):hover {
		@include color("text-faded");
	}
}

input,
textarea {
	@include background-color("background-editor");
}

textarea {
	width: 100%;
	height: auto;
	overflow: hidden;
	resize: none;
	background: none;
}
