.search-input-wrapper {
	position: relative;
	width: 100%;
	margin-right: $spacing-small;
}

.search-input {
	position: absolute;
	width: 100%;
}

.search-input-clear {
	position: absolute;
	right: 0;
}

.search-results {
	flex: 1;
	padding: 2px;
	overflow-y: auto;
}

.search-result .button {
	width: 100%;
	height: 100%;
	padding: ($spacing-small / 2) $spacing-small;
}

.search-result + .search-result {
	margin-top: $spacing-small;
}

.banner-no-results {
	width: 100%;
	justify-content: center;
	@include color("text-faded");
}

::-webkit-search-cancel-button {
	-webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
}
