.search-input-wrapper {
	position: relative;
	width: 100%;
	margin-right: $spacing-small;
}

.search-input {
	position: absolute;
	width: 100%;
}

.search-input-clear {
	position: absolute;
	right: 0;
}

.search-results {
	flex: 1;
	padding: 2px;
	overflow-y: auto;
}

.search-result {
	border-radius: $border-radius-button;
	box-shadow: $box-shadow;
	@include background-color("background-editor");

	button {
		width: 100%;
		height: 100%;
		padding: ($spacing-small / 2) $spacing-small;
	}
}

.search-result + .search-result {
	margin-top: $spacing-small;
}

.date-selected {
	@include background-color("button");
}

::-webkit-search-cancel-button {
	-webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
}
